*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  .box{
    width: 500px;
    height: 500px;
    background-color: black;
    color:white;
    margin: 15px auto;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    
  }    
  h2{
   font-size: 60px;
  }
  p{
     text-align: justify;
     line-height: 1.5;
     letter-spacing: 1px;
  }